@use '../utils/variables' as *;
@use '../utils/media' as *;
@use '../utils/mixins' as *;

.heading {
  align-items: center;
  background-image:
    url('/booble.png'), linear-gradient(to right, rgba(#29235c, 1), rgba(#29235c, 1));
  background-position:
    center right,
    left;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  min-height: 100vh;
  @include MQ(L) {
    background-image:
      url('/hero-home.png'), url('/booble.png'),
      linear-gradient(to right, rgba(#29235c, 1), rgba(#29235c, 1));
    background-position:
      center right,
      center right,
      left;
    background-size: 40%, cover, cover;
    min-height: 87vh;
  }
}

.logoWrapper {
  margin: 10px 0;
  @include MQ(M) {
    margin: 50px 0 150px 0;
  }
}

.firstElement {
  background: $complementary-color;
  font-weight: $font-bold;
  padding: 0 15px;
  color: $primary-color;
  line-height: 1.4;

  @include MQ(M) {
    font-size: calc(1rem + 1.5vw);
    line-height: 1;
  }

  @include MQ(XL) {
    font-size: calc(1rem + 1.5vw);
    line-height: 1.4;
  }
  @include MQ(XL) {
    font-size: 2.5rem;
    line-height: 1.4;
  }
}

.wave {
  position: relative;
  top: -3px;
}

.waveSmall {
  display: none;
  @include MQ(XXL) {
    display: block;
  }
}

.waveLarge {
  @include MQ(XXL) {
    display: none;
  }
}

.mainContentWrapper {
  position: relative;
  margin-top: -150px;
  @include MQ(XXL) {
    margin-top: -100px;
  }
}

.rssIcon {
  position: relative;
  transition: 0.5s all ease-in-out;

  &::after {
    background: $secondary-color;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1.5rem rgb(98 52 130 / 20%) !important;
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    @include centerer();
    transition: 0.5s all ease-in-out;
  }

  &Image {
    position: relative;
    z-index: 2;
    top: -5px;
  }
}

.rssLink {
  color: $white;
  transition: 0.05s all ease-in-out;
  &:hover {
    color: $complementary-color;
    .rssIcon::after {
      background: $ascent-color;
    }
  }
}
