@import "styles/utils/mixins";
@import "styles/utils/variables";
@import "styles/utils/media";


.absoluteNav {
    position: absolute;
    width: 100%;
    top: 0;
    background: rgba($white,.6);
    backdrop-filter: saturate(180%) blur(5px);
}

.header {
  transition: all ease-in-out .5s;
  z-index: 2;
  &.active {
    background: rgba($white,.9);
    backdrop-filter: saturate(180%) blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.1);
    position: sticky;
    top: 0;
    animation: slideDown 0.3s ease-in-out;
    .navLink.home {
      color: $primary-color;
    }
  }
}

.nav {
  padding: 0;
}
.primaryNav {
  display: block;
}

.navbarToggle {
  background: $secondary-color;
  color: $white !important;
}

.submenu {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  @include MQ(L) {
    border: none;
    background: rgba($white, .9);
    min-width: 270px;
    z-index: 2;
    position: absolute;
    text-align: left;
    padding: 10px 20px;
    left: -5px;
  }
}

.navLink {
  color: $primary-color;
  &.home {
    @include MQ(L) {
      color: $white;
    }
  }
  &:hover {
    color: $secondary-color;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}