// Font
$primary-font: 'Inter', sans-serif;
$font-regular: 400;
$font-bold: 600;
$font-black: 800;

// Colors
$palette: (
    light-grey: #F6F6F6,
    medium-grey: #59565a,
    dark-grey: #232323,

    primary-color: #2C3670,
    secondary-color: #FF77FF,
    complementary-color: #FEDE5A,
    ascent-color: #5D1BFE,
);

$light-grey: map-get($palette,light-grey);
$medium-grey: map-get($palette,medium-grey);
$dark-grey: map-get($palette,dark-grey);
$primary-color: map-get($palette,primary-color);
$secondary-color: map-get($palette,secondary-color);
$complementary-color: map-get($palette,complementary-color);
$ascent-color: map-get($palette,ascent-color);

$white:white;
$black: black;

// Gradients
$primary-gradient: linear-gradient(90deg, $secondary-color, $ascent-color);
$secondary-gradient: linear-gradient(90deg, $complementary-color, $secondary-color);
